<style>
    .bg {
        background-image: url('../../assets/images/background.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    * {
        padding: 0;
        margin: 0;
    }
</style>
<div class="bg">
    <!-- Header Information -->
    <div class="row" style="margin: 0; padding: 0;"> 
        <div class="col-md-2 col-lg-2 col-sm-2" style="margin: 1rem 0 1rem 0;">
            <a href="index.html">
                <img class="img-fluid" src="../../assets/images/sd_big1.png" style="width:100%;">
            </a>
        </div>
        <!-- Turn Information -->
        <div class="col-md-5 col-lg-7 col-sm-5">
            <div class = "fitImg" style="background-image: url('../../assets/images/turnInfo.png'); background-position: top 0 left 0; height: 100%;">
                <p class="important_txt" style="color: var(--darkbrown); font-size: 1.5rem; text-align: center;">
                    Turn information about <span style="color: white;">players</span> will go here
                </p>
            </div>
        </div>
        <!-- Leave Game Button -->
        <div class="col-md-3 col-lg-3 col-sm-3" style="right: 0;">
            <button class="btn btn-default d-flex" style="right: 0;" onclick=" goHome() ">
                <img id="hostGame" class="imgfit" src="../../assets/images/leaveGame.png" style="width:90%; height:90%;">
            </button>
        </div>
    </div>
    <div class="row" style="margin: 0; padding: 0; width: 100%; height: 500px;">
        <!-- Player Names -->
        <div class="col-lg-4 col-md-4 col-sm-3">
            <table id="playertable" class="floaty" style="width: 50%;">
                <thead>
                    <!-- Your Player Card -->
                    <tr >
                        <td>
                            <div id="name" class="playercard fitImg" style="background-image: url('../../assets/images/player_orange.png'); margin: 0; padding: 0; height: 100px; width: 150px;">
                                <p class="white_txt" style="display: table-cell; vertical-align: middle;">You</p>
                            </div>
                        </td>
                    </tr>
                </thead>                    
            </table>
            <table id="playertable2" style="width: 50%;">
                <thead>
                </thead>                    
            </table>
        </div>
        <!-- Game Boards -->
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img class="absolutepos" src="../../assets/images/libBoard.png" style="top: 0; right: 0; height: 100%;" >
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img class="absolutepos" src="../../assets/images/fascBoard.png" style="top: 0; left: 0; height: 100%;" >
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <app-textchat></app-textchat>
        </div>
    </div>
</div>